<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>QRHere Teacher Portal - Log In</title>

  <!-- LOAD BOOTSTRAP CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

  <!-- LOAD JQUERY -->
    <!-- when building an angular app, you generally DO NOT want to use jquery -->
    <!-- we are breaking this rule here because jQuery's $.param will help us send data to our PHP script so that PHP can recognize it -->
    <!-- this is jQuery's only use. avoid it in Angular apps and if anyone has tips on how to send data to a PHP script w/o jQuery, please state it in the comments -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

  
  <!-- Parse Server JS SDK Credentials  -->
<script src="https://www.parsecdn.com/js/parse-1.6.14.min.js"></script>
<script type="text/javascript">Parse.initialize("myAppId"); Parse.serverURL = 'http://45.55.141.129:1337/parse';</script>



  <script>
    
  // define angular module/app
  var formApp = angular.module('formApp', []);

 // create angular controller and pass in $scope and $http
   formApp.controller('LoginController',function($scope,$window){
	   $scope.course ={};
	   
	    var currentuser = Parse.User.current(); // Get Current User
		
		if (currentuser){
			$window.location.href = 'teacher-home.html';
		}
		else{
			
		}

$scope.register = function(){
		$window.location.href = 'signup.html';

}
	
	
	$scope.login = function(){
		  	Parse.User.logIn($scope.courses.username, $scope.courses.password, {
				
				
				
		  	success: function(user) {
		  		// Do stuff after successful login.
				if (currentUser = "Student"){
				   alert("This is only for teachers");	
				}
				else{
		  			console.log(user);
		  			alert("Success! You are now log in.");
					$window.location.href = 'teacher-home.html';
				}
    	},
		error: function(user, error) {
		// The login failed. Check error to see why.
		alert("Error! Please check your information and try again");

    		}
  		});
	}
 });
  
 
 
  </script>
</head>

<body ng-app="formApp">
<div class="container" ng-controller="LoginController">
<div class="col-md-6 col-md-offset-3">

  <!-- PAGE TITLE -->
  <div class="page-header">
    <h1><span></span> QRHere Teacher Portal - Log In</h1>
  </div>

  <!-- SHOW ERROR/SUCCESS MESSAGES -->
  <div id="messages"></div>

  <!-- FORM -->
  <form>
    <!-- Username -->
    <div id="name-group" class="form-group">
      <label>Username</label>
      <input type="text" name="username" class="form-control" placeholder="Username" ng-model="courses.username">
      <span class="help-block"></span>
    </div>

    <!-- Password -->
    <div id="superhero-group" class="form-group">
      <label>Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" ng-model="courses.password">
      <span class="help-block"></span>
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="login()">
      <span class="glyphicon glyphicon-lock"></span> Login
    </button>
    
        <!-- SIGNUP BUTTON -->
    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="register()">
      <span class="glyphicon glyphicon-lock"></span> Register
    </button>
  </form>

</div>
</div>
</body>
</html>
